
html, body, h1, h2, h3, h4, p, div {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}

header {
  padding: 10px, 0, 10px, 0;
  margin: 0;
  background-color: #452312;
  background-image: url(assets/bg_header.jpg);
  height: 380px,auto;

}
