@font-face {
  font-family: 'Montserrat';
  src: url(<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">);
  font-style: bold;
  font-weight: 900;
}

@font-face {
  font-family: 'Raleway';
  src: url(<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">);
  font-weight: 400;
  font-style: normal;
}


html, body, h2, h3, h4, p, div, ul, li {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  font-family: 'Raleway', Helvetica, sans-serif;
}

h1 {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  font-family: 'Montserrat', Helvetica, sans-serif;

}

header {
  padding: 0;
  margin: 0;
  min-height: 580px;
  background-color: #452312;
  background-image: url(assets/bg_header.jpg);
  background-size: cover;
  background-position: center;
}

.logo {
  padding-top: 15%;
}

.logo img {
  display: block;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  border-bottom: 2px solid #f39720;
  padding: 1.5%;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}

nav ul {
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

nav li {
    display: inline;
    position: relative;
    text-decoration: none;
    color: #f39720;
    padding: 3%;
}
